*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.0em;
}

a {
    color: blue;
    text-decoration: none;
}

h1,
h2,
h3{
    padding-bottom: 20px;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

#navbar {
    background-color: peachpuff;
    color: black;
    overflow: auto;
}

#navbar a {
    color: black;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;

}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar #sign-up a {
    background: peachpuff;
    color: black;
    border-radius: 0%;
}

#navbar #sign-in a {
    background: peachpuff;
    color: black;
    border-radius: 0%;
}

.user-greetings {
    padding: 0px 20px 20px 0px;
}

.user-greetings .sidebar-menu {
    float: left;
    max-width: 33%;
    padding: 20px;
    text-align: center;
    background-color: beige;
}

.user-greetings .sidebar-menu ul {
    list-style: none;
}

.user-greetings .sidebar-menu ul li a {
    display: block;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.user-greetings .sidebar-menu ul li a:hover {
    background-color: lime;
    color: black;
    border-radius: 5px;
}

.user-greetings .user-info {
    float: left;
    max-width: 67%;
    color: black;
  }













