<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Welcome to Greetings Application" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../Style/style.css">
        <title>Greetings App</title>
    </head>
   
    <body>

        <header>         
            <nav id="navbar">
                <h1 class="logo"><a href="index.html">Greetings Application</a></h1>
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-bell fa-lx"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-envelope fa-lx"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-question fa-lx"></i>Support</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-tools fa-1x"></i> Tools</a>
                    </li>
                    <li id="sign-up">
                        <a href="#"> Sign Up</a>
                    </li>
                    <li id="sign-in">
                        <a href="#"> Sign In</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="user-greetings">

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="#" id="list-all-users-button">List</a>
                    </li>
                    <li>
                        <a  id="add-user-button"> Add</a>
                    </li>
                    <li>
                        <a href="#" id="edit-user-button" > Edit</a>
                    </li>
                    <li>
                        <a href="#" id="delete-user-button" > Delete</a>
                    </li>
                </ul>
            </div>

            <div class="user-info">
                <div class="box-users">
                  <h2 id="section-header">Basic Panels Layout</h2>
                </div>
            </div>
        </section>
        
        <div class="override">
            <div class="add-user-modal">
              <div class="add-user-modal-contents">
                <div class="close-button-for-add-user">X</div>
                <h3 id="add-new-greeting-header" >Add New Greeting</h3>
                <form action="">
                  <input type="text" id="first-name" name="first-name" placeholder="Enter First Name" />
                  <input type="text" id="last-name" name="last-name" placeholder="Enter Last Name" />
                  <input type="text" id="enter-greeting" name="enter-greeting" placeholder="Enter Greeting Message" />
                  <a href="#" class="submit-button">Submit</a>
                </form>
              </div>
            </div>
      
            <div class="edit-user-modal">
              <div class="edit-user-modal-contents">
                <div class="close-button-for-edit-user">X</div>
                <h3 id="edit-greeting-header" >Edit Greeting</h3>
                <form action="">
                  <input type="text" id="first-name" name="first-name" placeholder="Enter First Name" />
                  <input type="text" id="last-name" name="last-name" placeholder="Enter Last Name" />
                  <input type="text" id="enter-greeting" name="enter-greeting" placeholder="Enter Greeting Message" />
                  <a href="#" class="submit-button">Submit</a>
                </form>
              </div>
            </div>
      
            <div class="delete-user-modal">
              <div class="delete-user-modal-contents">
                <div class="close-button-for-delete-user">X</div>
                <h3 id="delete-greeting-header" >Delete Greeting</h3>
                <form action="">
                  <input type="text" id="object-id" name="object-id" placeholder="Enter Id of the Greeting" />
                  <a href="#" class="submit-button">Submit</a>
                </form>
              </div>
            </div>
          </div>
        </div>
          </div>
        
        <script src="../app.js"></script>
    </body>

</html>